[Desktop Entry]
Type=Application
Name=Obsidian
Exec=/home/calm/Downloads/Obsidian-1.5.12.AppImage
Icon=/home/calm/Pictures/appIcondontdelete/2023_Obsidian_logo.svg
